certificate:
  name: root-ca
  namespace: cert-manager
  secretName: root-ca-secret
  issuerName: root-ca-issuer
  rootDomain: {{ .Environment.Values.rootDomain }}
  subject:
    organizations:
      - "Quack Cluster"
    organizationalUnits:
      - "Quackerspace"
    countries:
      - "PL"
    provinces:
      - "Silesia"
    localities:
      - "Warsaw"
